.transfer-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    border: 1px solid rgba(253, 253, 253, 0.15);
    border-radius: 2em;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1.5em;
}
.transfer-page a {
    position: absolute;
    left: 6%;
}
.transfer-container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 2rem 2rem;
}
input {
    width: 100%;
    flex-grow: 1;
    text-align: center;
    font-size: 2.5rem;
}
.transfer-amount-input {
    width: 50%;
    max-height: 50%;
    display: flex;
    font-size: 4rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.transfer-amount-input input,
.transfer-amount-input input:focus {
   border: none;
   outline: none;
   border-bottom: 1px solid black;
   font-size: 6rem;
   appearance: textfield;
}
.transfer-amount-button {
    margin-top: auto;
    border-radius: 4.5rem;
    background-color: rgb(5, 126, 5);
    max-height: 20%;
    cursor: pointer;
}