.budget-container {
    width: 100%;
    font-size: 1.5rem;
}
table {
    border-collapse: collapse;
    text-align: left;
}
.budget-data {
    width: 100%;
    font-size: 2rem;
    overflow-y: auto;
}
.budget-data td, th {
    padding: 1em;
}
.budget-data-header th {
    text-align: center;
}
.budget-data thead {
    border-bottom: 3px solid rgb(0, 0, 0);
}
.no-expense-text {
    width: 100%;
}
.no-expense-text td {
    text-align: center;
}
tbody input {
    border: none;
}
.budget-item-actions {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.budget-add-expense, .budget-add-expense:focus {
    background-color: white;
    color: black;
    margin-top: 2rem;
}