@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-image: url(./assets/login-page.jpg);
    background-size: cover;
}
.card {
    width: 100%;
    border: 1px solid black;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
    text-decoration: none;
}
