:root {
    font-size: 10px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.dashboard {
    /* height: 90vh; */
    border: 1px solid black;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card {
    border: 1px solid black;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.home-page {
    height: 90vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 2em;
}
.home-page header {
    width: 100%;
    display: flex;
    gap: 2rem;
}
.home-page header input {
    max-width: fit-content;
    margin-left: auto;
    padding: 0.2em;
}
.actions {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
.actions div {
    width: 100%;
}